<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udemy.videolist.repository.VideoMapper">

    <resultMap id="videoMap" type="com.udemy.videolist.model.Video">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="instructor" column="instructor"/>
        <result property="language" column="language"/>
        <result property="isFree" column="is_free"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="findAllVideos" resultMap="videoMap">
        SELECT *
        FROM videos
    </select>

    <select id="findById" resultMap="videoMap">
        SELECT *
        FROM videos
        WHERE id = #{id}
    </select>

    <select id="findByLanguage" resultMap="videoMap">
        SELECT *
        FROM videos
        WHERE language = #{language}
    </select>

    <select id="findByIsFree" resultMap="videoMap">
        SELECT *
        FROM videos
        WHERE is_free = #{isFree}
    </select>

    <select id="findByLanguageAndIsFree" resultMap="videoMap">
        SELECT *
        FROM videos
        WHERE language = #{language}
        AND is_free = #{isFree}
    </select>

    <insert id="createVideo" parameterType="Video" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO videos (title, instructor, language, is_free, price)
        VALUES (#{title}, #{instructor}, #{language}, #{isFree}, #{price})
    </insert>

    <update id="updateVideo">
        UPDATE videos
        SET title = #{video.title},
            instructor = #{video.instructor},
            language = #{video.language},
            is_free = #{video.isFree},
            price = #{video.price}
        WHERE id = #{id}
    </update>

    <delete id="deleteVideo">
        DELETE
        FROM videos
        WHERE id = #{id}
    </delete>
</mapper>
